doctype html
html(lang='kr')
    head
        title sharkim
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans')
        script(src='https://use.fontawesome.com/8a019058c1.js')
body
    div#wrap
        header
            h1 셰어킴
            p.menu_bar
                a(href='#' title='nav')
                    i.fa.fa-bars.fa-2x(aria-hidden='true')
        nav.nav_main
            h2.readable-hidden 네비게이션
            div.inner_menu
                ul.tab_menu
                    li.selected   
                       a(href='#' title='menu1') 메인
                    li 
                       a(href='#' title='menu2') 지도찾기
                    li 
                       a(href='#' title='menu3') 목록찾기
        section#screen
                h2.readable-hidden screen
                div.main_screen
                    dl
                        dt 기획칼럼 - 오늘의 하우스
                        dd.ad 한강변에 위치한 
                            br
                            |    "오늘의 하우스"를 소개합니다.
                        dd.link 바로가기&#62;&#62;
        section#house_list_section
            div.house_list_wrap
                div.list_tit
                    h3 추천 쉐어하우스
                    p
                        select
                            option 서울
                div.house_list
                    ul
                        li
                            dl
                                dd.tit
                                    p 기쁨 쉐어하우스 A룸
                                    p 성별무관 | 공실예정
                                dd.info
                                    p
                                        i.fa.fa-home.fa-2x(aria-hidden='true') 
                                        span 1인실
                                    p

                                        i.fa.fa-money.fa-2x(aria-hidden='true') 
                                        span 500/60
                                    p
                                        i.fa.fa-user.fa-2x(aria-hidden='true')
                                        span 자전거
                                dd.address
                                    p 서울시 영등포구 여의도동
                                    p 아파트 | 8인 4실
                        li
                            dl
                                dd.tit
                                    p 기쁨 쉐어하우스 B룸
                                    p 성별무관 | 공실예정
                                dd.info
                                    p
                                        i.fa.fa-home.fa-2x(aria-hidden='true') 
                                        span 1인실
                                    p

                                        i.fa.fa-money.fa-2x(aria-hidden='true') 
                                        span 500/60
                                    p
                                        i.fa.fa-user.fa-2x(aria-hidden='true')
                                        span 자전거
                                dd.address
                                    p 서울시 영등포구 여의도동
                                    p 아파트 | 8인 4실
                        li
                            dl
                                dd.tit
                                    p 기쁨 쉐어하우스 C룸
                                    p 성별무관 | 공실예정
                                dd.info
                                    p
                                        i.fa.fa-home.fa-2x(aria-hidden='true') 
                                        span 1인실
                                    p

                                        i.fa.fa-money.fa-2x(aria-hidden='true') 
                                        span 500/60
                                    p
                                        i.fa.fa-user.fa-2x(aria-hidden='true')
                                        span 자전거
                                dd.address
                                    p 서울시 영등포구 여의도동
                                    p 아파트 | 8인 4실
                            

                                  







// carmen - , ... - , 
// ben, oocss
// 코드 컨벤션을 도와주는
// 플러그인 활용도 굳
// commit message
// 알고리즘
// 시간 복잡도
// 객체지향 ? 함수형?
// $(document).on('click','#btnPrepend',function(){//do something})
// vue.js, flask, bulma
// react native + typescript
// 러버덕
// 기초지식

// interview
// github til
// blog
// github repo commit
// react, vue.js
// https://velopert.com/1225
